part1/lesson-examples-app
part1/course-info-app/node_modules
part1/unicafe-app/node_modules
part1/anecdotes-app/node_modules
part2/phonebook/node_modules

part1/course-info-app/package.json
part1/unicafe-app/package.json
part1/anecdotes-app/package.json
part2/phonebook/package.json

part1/course-info-app/package-lock.json
part1/unicafe-app/package-lock.json
part1/anecdotes-app/package-lock.json
part2/phonebook/package-lock.json

